body {
  background-repeat: no-repeat;
  background-position: center;

}

// nav
.navbar-laravel {
  border-bottom: 1px solid #000;
}
.nav-link {
  color: #000 !important;
}

.top {
  font-weight: bold;
  font-size: 20px;
}



.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #fff;
  background-color: #000;
  color: #eee;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25)
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}

.main-content {
  margin-bottom: 20px;
}

.img_size {
  max-width: 800px;
  
}