body {
  background-repeat: no-repeat;
  background-position: center;
}

.navbar-laravel {
  border-bottom: 1px solid #000;
}

.nav-link {
  color: #000 !important;
}

.top {
  font-weight: bold;
  font-size: 20px;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #fff;
  background-color: #000;
  color: #eee;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  margin-top: 10px;
}

.login-body {
  background-color: rgba(0, 0, 0, 0);
}

.main-content {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-content .info {
  width: 50%;
}

.img_size {
  width: 100%;
}

.card-body {
  width: 90%;
  margin: 10px auto;
  padding: 0;
}

.card-article {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card-comment {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card-comment .card-text {
  boreder-bottom: 1px solid #ddd;
}

.comment-text {
  vertical-align: middle;
}

.grid {
  display: grid;
  margin-top: 10px;
}

